PyMuPDF
spacy==3.7.4
httpx
llama-cpp-python
langchain
langchain-community
langchain-openai
langchain-google-genai
huggingface-hub
flet
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.7.0/ja_core_news_sm-3.7.0.tar.gz#egg=ja_core_news_sm